__pycache__
resources/certificates/
resources/media/
resources/static/
scripts/run.sh
scripts/download_database.sh
scripts/download_media.sh
scripts/upload_media.sh
scripts/upload_image.sh
scripts/upload_certificates.sh
gulp/application/node_modules/
