<script>
    const STATE_LOADED = 0,  // current page loaded
          STATE_CACHED = 1   // related pages cached

    var cache = {},
        state = STATE_LOADED,
        title = '{{ page.title }}',
        cache_link = '{{ page.cache_link }}',
        detail_link = '{{ page.detail_link }}'


    function update_cache(cache, cache_link) {
        $.get(cache_link, function(response_data) {
            for (var i = 0; i < response_data.count; i++) {
                cached_page = response_data.results[i]
                cache[cached_page.detail_link] = {
                    title: cached_page.title,
                    cache_link: cached_page.cache_link,
                    content: cached_page.content,
                }
            }
        })
        return cache
    }


    function check_if_link_is_cached(cache, link) {
        for (var property in cache) {
            if (cache.hasOwnProperty(property)) {
                if (link == property) {
                    return true
                }
            }
        }
        return false
    }


    function update_title(title) {
        $('title').html(title)
        document.title = title
    }


    function update_content(content, action) {
        for (var name in content) {
            if (content.hasOwnProperty(name)) {
                html = (action == 'render') ? content[name] : ''
                var content_element = $('#content-' + name)

                if (content_element.length) {
                    content_element.html(html)
                } else {
                    var content_element_start = $('#content-start-' + name)
                    var content_element_stop = $('#content-stop-' + name)

                    content_element_start.nextUntil(content_element_stop).remove()
                    content_element_start.after(html)
                }
            }
        }
    }


    function handle_click(event) {
        var clicked_link = $(this).attr('href'),
            is_clicked_link_local = clicked_link.startsWith('/'),
            is_clicked_with_button = (
                event.ctrlKey
                || event.shiftKey
                || event.metaKey
                || (event.button && event.button == 1)
            ),
            is_clicked_link_cached = check_if_link_is_cached(cache, clicked_link)

        if (is_clicked_link_local && is_clicked_link_cached && !is_clicked_with_button) {
            transition_cached_to_loaded(clicked_link, update_history=true)
            event.preventDefault()
            transition_loaded_to_cached()
        }
    }


    function handle_popstate(event) {
        var popstate_link = event.originalEvent.state.link
        transition_cached_to_loaded(popstate_link, update_history=false)
        transition_loaded_to_cached()
    }


    function transition_cached_to_loaded(new_link, update_history) {
        var new_page = cache[new_link]

        update_title(new_page.title)

        update_content(cache[detail_link].content, action='remove')
        update_content(new_page.content, action='render')

        document.body.scrollTop = document.documentElement.scrollTop = 0
        lazy_load.update()

        if (update_history) {
            history.pushState({link: new_link}, document.title, new_link)
        }

        cache_link = new_page.cache_link
        detail_link = new_link
        state = STATE_LOADED
    }


    function transition_loaded_to_cached() {
        var is_update_needed = true
        if (is_update_needed) {
            cache = update_cache(cache, cache_link)
        }
        $('a').on('click', handle_click)
        state = STATE_CACHED
    }


    history.replaceState({link: detail_link}, title, detail_link)
    $(window).on('load', transition_loaded_to_cached)
    $(window).on('popstate', handle_popstate)
</script>
