{% load i18n static %}
<!doctype html>
<html prefix='og: http://ogp.me/ns/website#' lang='{{ config.SITE_LANGUAGE }}'>
  <head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <link rel='stylesheet' href='{% static "vash/css/styles.min.css" %}' />
    <title>{{ page.title }}</title>
    {% include 'page/fonts.html' %}
    {{ page.clean_meta|safe }}
  </head>
  <body>
    <main>{{ page.clean_content|safe }}</main>
    {% include 'page/lazyload.html' %}
    <script
      src='https://code.jquery.com/jquery-3.4.0.min.js'
      integrity='sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg='
      crossorigin='anonymous'
    ></script>
    {% include 'page/br.html' %}
    {% include 'page/cache.html' %}
  </body>
</html>
