{% load static %}
<!doctype html>
<html prefix='og: http://ogp.me/ns/website#' lang='{{ config.SITE_LANGUAGE }}'>
  <head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <!-- Meta -->
    <title>{{ page.title }}</title>
    {% block head-meta %}{% endblock %}
    <!-- Style before styles.min.css and fonts -->
    {% block head-style-top %}{% endblock %}
    <!-- Main styles and fonts -->
    <link rel='stylesheet' href='{% static "vash/css/styles-4f3b5430.min.css" %}' />
    {% include 'page/fonts.html' %}
    <!-- Style after styles.min.css and fonts -->
    {% block head-style-bottom %}{% endblock %}
  </head>
  <body>
    <!-- Top -->
    {% block body-top %}{% endblock %}
    <!-- Middle -->
    {% block body-middle %}{% endblock %}
    <!-- Bottom -->
    {% block body-bottom %}{% endblock %}

    <!-- Script before Lazyload, Jquery, and cache -->
    {% block body-script-top %}{% endblock %}
    <!-- Lazyload, Jquery, and cache -->
    {% include 'page/lazyload.html' %}
    {% include 'page/jquery.html' %}
    {% include 'page/cache.html' %}
    <!-- Script after Lazyload, Jquery, and cache -->
    {% block body-script-bottom %}{% endblock %}

    <!-- Style -->
    {% block body-style %}{% endblock %}
  </body>
</html>
