<style>
  @font-face {
  	font-family: 'PT Root UI';
  	src:
      url('/static/vash/font/pt/root/PT%20Root%20UI_Regular.woff2') format('woff2'),
      url('/static/vash/font/pt/root/PT%20Root%20UI_Regular.woff') format('woff');
  	font-weight: 400;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Root UI';
  	src:
      url('/static/vash/font/pt/root/PT%20Root%20UI_Medium.woff2') format('woff2'),
      url('/static/vash/font/pt/root/PT%20Root%20UI_Medium.woff') format('woff');
  	font-weight: 500;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Root UI';
  	src:
      url('/static/vash/font/pt/root/PT%20Root%20UI_Light.woff2') format('woff2'),
      url('/static/vash/font/pt/root/PT%20Root%20UI_Light.woff') format('woff');
  	font-weight: 300;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Root UI';
  	src:
      url('/static/vash/font/pt/root/PT%20Root%20UI_Bold.woff2') format('woff2'),
      url('/static/vash/font/pt/root/PT%20Root%20UI_Bold.woff') format('woff');
  	font-weight: 700;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Mono';
  	src:
      url('/static/vash/font/pt/mono/PT%20Mono_Bold.woff2') format('woff2'),
      url('/static/vash/font/pt/mono/PT%20Mono_Bold.woff') format('woff');
  	font-weight: bold;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Mono';
  	src:
      url('/static/vash/font/pt/mono/PT%20Mono_Regular.woff2') format('woff2'),
      url('/static/vash/font/pt/mono/PT%20Mono_Regular.woff') format('woff');
  	font-weight: normal;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Sans';
  	src:
      url('/static/vash/font/pt/sans/PT%20Sans_Bold%20Italic.woff2') format('woff2'),
      url('/static/vash/font/pt/sans/PT%20Sans_Bold%20Italic.woff') format('woff');
  	font-weight: bold;
  	font-style: italic;
  }

  @font-face {
  	font-family: 'PT Sans';
  	src:
      url('/static/vash/font/pt/sans/PT%20Sans_Bold.woff2') format('woff2'),
      url('/static/vash/font/pt/sans/PT%20Sans_Bold.woff') format('woff');
  	font-weight: bold;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Sans Caption';
  	src:
      url('/static/vash/font/pt/sans/PT%20Sans_Caption%20Bold.woff2') format('woff2'),
      url('/static/vash/font/pt/sans/PT%20Sans_Caption%20Bold.woff') format('woff');
  	font-weight: bold;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Sans Caption';
  	src:
      url('/static/vash/font/pt/sans/PT%20Sans_Caption%20Regular.woff2') format('woff2'),
      url('/static/vash/font/pt/sans/PT%20Sans_Caption%20Regular.woff') format('woff');
  	font-weight: normal;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Sans';
  	src:
      url('/static/vash/font/pt/sans/PT%20Sans_Italic.woff2') format('woff2'),
      url('/static/vash/font/pt/sans/PT%20Sans_Italic.woff') format('woff');
  	font-weight: normal;
  	font-style: italic;
  }

  @font-face {
  	font-family: 'PT Sans Narrow';
  	src:
      url('/static/vash/font/pt/sans/PT%20Sans_Narrow%20Bold.woff2') format('woff2'),
      url('/static/vash/font/pt/sans/PT%20Sans_Narrow%20Bold.woff') format('woff');
  	font-weight: bold;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Sans Narrow';
  	src:
      url('/static/vash/font/pt/sans/PT%20Sans_Narrow%20Regular.woff2') format('woff2'),
      url('/static/vash/font/pt/sans/PT%20Sans_Narrow%20Regular.woff') format('woff');
  	font-weight: normal;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Sans';
  	src:
      url('/static/vash/font/pt/sans/PT%20Sans_Regular.woff2') format('woff2'),
      url('/static/vash/font/pt/sans/PT%20Sans_Regular.woff') format('woff');
  	font-weight: normal;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Serif';
  	src:
      url('/static/vash/font/pt/serif/PT%20Serif_Bold%20Italic.woff2') format('woff2'),
      url('/static/vash/font/pt/serif/PT%20Serif_Bold%20Italic.woff') format('woff');
  	font-weight: bold;
  	font-style: italic;
  }

  @font-face {
  	font-family: 'PT Serif';
  	src:
      url('/static/vash/font/pt/serif/PT%20Serif_Bold.woff2') format('woff2'),
      url('/static/vash/font/pt/serif/PT%20Serif_Bold.woff') format('woff');
  	font-weight: bold;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Serif Caption Italic';
  	src:
      url('/static/vash/font/pt/serif/PT%20Serif_Caption%20Italic.woff2') format('woff2'),
      url('/static/vash/font/pt/serif/PT%20Serif_Caption%20Italic.woff') format('woff');
  	font-weight: normal;
  	font-style: italic;
  }

  @font-face {
  	font-family: 'PT Serif Caption';
  	src:
      url('/static/vash/font/pt/serif/PT%20Serif_Caption%20Regular.woff2') format('woff2'),
      url('/static/vash/font/pt/serif/PT%20Serif_Caption%20Regular.woff') format('woff');
  	font-weight: normal;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'PT Serif';
  	src:
      url('/static/vash/font/pt/serif/PT%20Serif_Italic.woff2') format('woff2'),
      url('/static/vash/font/pt/serif/PT%20Serif_Italic.woff') format('woff');
  	font-weight: normal;
  	font-style: italic;
  }

  @font-face {
  	font-family: 'PT Serif';
  	src:
      url('/static/vash/font/pt/serif/PT%20Serif_Regular.woff2') format('woff2'),
      url('/static/vash/font/pt/serif/PT%20Serif_Regular.woff') format('woff');
  	font-weight: normal;
  	font-style: normal;
  }
</style>
