// Viewport and field variables

$width-sm: 0px;

$width-md: 960px;
$width-centered-md: 1250px;

$width-lg: 1400px;
$width-centered-lg: 1590px;

$viewport-widths: (
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
);
$viewports: sm, md, lg;

$content-max-width-md: 1100px;
$content-max-width-lg: 1400px;

$field-size-default: 6vw;
$field-size-sm: 20px;
$field-size-md: calc((100vw - #{$content-max-width-md}) / 2);
$field-size-lg: calc((100vw - #{$content-max-width-lg}) / 2);

$grid-columns-count: 16;
$repeat-grid-columns: repeat($grid-columns-count, 1fr);


// Dynamic fields. I <3 Bureau https://bureau.ru/soviet/20190221/

.row { display: grid }

// 960px in Bureau
@include media-breakpoint-down($width-md - 1px) {
  .row { grid-template-columns: $repeat-grid-columns }
  .container {
    margin-left: $field-size-sm;
    margin-right: $field-size-sm;
  }
  .px-field {
    padding-left: $field-size-sm;
    padding-right: $field-size-sm;
  }
}

// 961px in Bureau. I've changed it to 960 to fit breakpoint `md`
@include media-breakpoint-between($width-md, $width-centered-md) {
  .row { grid-template-columns: $repeat-grid-columns }
  .container {
    margin-left: $field-size-default;
    margin-right: $field-size-default;
  }
  .px-field {
    padding-left: $field-size-default;
    padding-right: $field-size-default;
  }
}

@include media-breakpoint-between($width-centered-md + 1px, $width-lg - 1px) {
  .row { grid-template-columns: $repeat-grid-columns }
  .container {
    margin-left: $field-size-md;
    margin-right: $field-size-md;
  }
  .px-field {
    padding-left: $field-size-md;
    padding-right: $field-size-md;
  }
}

@include media-breakpoint-between($width-lg, $width-centered-lg) {
  .row { grid-template-columns: $repeat-grid-columns }
  .container {
    margin-left: $field-size-default;
    margin-right: $field-size-default;
  }
  .px-field {
    padding-left: $field-size-default;
    padding-right: $field-size-default;
  }
}

@include media-breakpoint-up($width-centered-lg + 1px) {
  .row { grid-template-columns: $repeat-grid-columns }
  .container {
    margin-left: $field-size-lg;
    margin-right: $field-size-lg;
  }
  .px-field {
    padding-left: $field-size-lg;
    padding-right: $field-size-lg;
  }
}


// Bootstrap stuff

@include media-breakpoint-sm {
  [class^='col-'],
  [class^='off-'] { grid-column: 1 / -1 }
  .row-break-sm { grid-row: 2 }
}

@each $viewport, $width in $viewport-widths {
  $infix: get-breakpoint-infix($viewport);

  @include media-breakpoint-up($width) {
    .col#{$infix} { grid-column: 1 / -1 }

    @for $span from 1 through $grid-columns-count {
      .off-#{$span}#{$infix} { grid-column-start: $span + 1 }
      .col-#{$span}#{$infix} { grid-column-end: span $span }
    }
  }
}


// Margin, padding

$spacer: 1rem;
$spacers: (
  '0':     0,
  '0125':  ($spacer * 0.125),
  '025':  ($spacer * 0.25),
  '05':   ($spacer * 0.5),
  '075':  ($spacer * 0.75),
  '1':     $spacer,
  '2':    ($spacer * 2),
  '3':    ($spacer * 3),
  '4':    ($spacer * 4),
  '5':    ($spacer * 5),
);

@each $viewport, $width in $viewport-widths {
  $infix: get-breakpoint-infix($viewport);

  @include media-breakpoint-up($width) {
    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
        .#{$abbrev}t-#{$size}#{$infix},
        .#{$abbrev}y-#{$size}#{$infix} {
          #{$prop}-top: $length !important;
        }
        .#{$abbrev}r-#{$size}#{$infix},
        .#{$abbrev}x-#{$size}#{$infix} {
          #{$prop}-right: $length !important;
        }
        .#{$abbrev}b-#{$size}#{$infix},
        .#{$abbrev}y-#{$size}#{$infix} {
          #{$prop}-bottom: $length !important;
        }
        .#{$abbrev}l-#{$size}#{$infix},
        .#{$abbrev}x-#{$size}#{$infix} {
          #{$prop}-left: $length !important;
        }
      }
    }

    // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
    @each $size, $length in $spacers {
      @if $size != 0 {
        .m-n#{$size}#{$infix} { margin: -$length !important; }
        .mt-n#{$size}#{$infix},
        .my-n#{$size}#{$infix} {
          margin-top: -$length !important;
        }
        .mr-n#{$size}#{$infix},
        .mx-n#{$size}#{$infix} {
          margin-right: -$length !important;
        }
        .mb-n#{$size}#{$infix},
        .my-n#{$size}#{$infix} {
          margin-bottom: -$length !important;
        }
        .ml-n#{$size}#{$infix},
        .mx-n#{$size}#{$infix} {
          margin-left: -$length !important;
        }
      }
    }

    // Some special margin utils
    .m-auto#{$infix} { margin: auto !important; }
    .mt-auto#{$infix},
    .my-auto#{$infix} {
      margin-top: auto !important;
    }
    .mr-auto#{$infix},
    .mx-auto#{$infix} {
      margin-right: auto !important;
    }
    .mb-auto#{$infix},
    .my-auto#{$infix} {
      margin-bottom: auto !important;
    }
    .ml-auto#{$infix},
    .mx-auto#{$infix} {
      margin-left: auto !important;
    }
  }
}
