click==7.0  # Easy CLI
pillow==6.2.0  # Manage images
brotli==1.0.7  # Compress files
pytest==5.1.3  # Test application code
Jinja2==2.10.1  # Render templates
richtypo==0.2.3  # Typograph text
pygments==2.3.1  # Highlight code
MarkupSafe==1.1.1  # Jinja requirement
pytest-cov==2.8.1  # Calculate tests coverage
click-aliases==1.0.1  # Multiple names for CLI command
beautifulsoup4==4.8.0  # HTML processing
django-softhyphen==1.1.0  # Hyphenate HTML code
css-html-js-minify==2.5.5  # Minify HTML
